# Ambientes Virtuais (O Oceano)
jelly_env/
jelly_venv/
venv/
env/
.venv

# Compilados Python (Lixo Celular)
__pycache__/
*.py[cod]
*$py.class
*.so

# Banco de Dados (Memória Sensível)
*.db
*.db-shm
*.db-wal
*.sqlite3
jelly_forensics.log

# Chaves e Segredos (DNA)
.env

# Sistema
.DS_Store

# Payloads de Defesa (Gerados localmente)
assets/toxin.gz